<div class="row center">

<div class="center">
{{!-- <h1 >GREETED LIST</h1> --}}
<div>

{{#each reg}}







{{!-- <a href="/counter/{{this.name}}"> --}}
    {{!-- <li>{{this.name}}</li>
</a> --}}
{{/each}}

</div>
