.container{
    
    width: auto;
    height: auto;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;	
    border: 5px solid black;
    padding: 50px;
    max-width: fit-content;
    
} 

body {
    background-color: coral;
    
    max-width: fit-content;
}
ul {
    
    margin: 0em;
    padding: 0em;
    list-style: none;
   /* display: inline-block; */
   /* display: inline-block; */

    
}

li {
    
    display: inline-block;
    padding: 0.8em;
    background-color: yellow;  
    border-radius: 0.5em;
    margin: 0.2em;
    /* border-radius: 06px; */
    
    /* width: 7.5em;  */
    
};


  


.red {
    color:red;
}

.addBtn{

background-color: green;

}


.clearBtn {

    background-color: red

}
 .enterReg {
float: left;

 }


h1{
 font-family: "Arial Black", sans-serif;
    font-size: 4.5em;
    letter-spacing: -1px;
    background-color: black;
    color: white; 
}

label {
    display: inline;
    color: cadetblue;
}
.infom{
    /* display: inline; */
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    color: red; 

}